.web-devolopment {
    width: 100%;
}

.web-items{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    padding: 6px 520px 35px;
}

.web-item{
    text-align: center;
    font-size: 18px;
}

.web-item-left{
    margin-right: 20px;
}

.web-title {
    text-align: center;
    font-size: 26px;
}